 /* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_block {
    display: flex;
    flex-direction: column;
    height: 160vh;
}

.spotify_class {
    display: flex;
    flex-grow: 1;
}

/* LEFT SIDEBAR  */
.left_sidebar {
    display: flex;
    flex-direction: column;
    height: 160vh;
}

.top_left_sidebar  {
    flex-grow: 1;
    padding: 12px 0;
    background: rgb(0, 0, 0);
}

.spotify_logo img {
  padding: 18px;
  margin-bottom: 10px;
  width: 148px;
}

.left_black_nav img {
    margin-right: 10px;
    width: 28px;
    }
    
.left_black_nav ul li a {
    display: flex;
    align-items: center;
    color: #767575;
    text-decoration: none;
    }

.left_black_nav ul li {
    padding-left: 18px;
    margin-bottom: 12px;
    }

.left_black_nav ul,
.top_link ul {
    list-style: none;
    }

.left_black_nav h5 {
    padding-left: 16px;
    margin-bottom: 8px;
    margin-top: 15px;
    }

.left_black_nav ul li i {
    margin-right: 12px;
    font-size: 38px;
    }
    
.left_black_nav ul li a {
    padding: 5px 5px 0;
    font-size: 11px;
    }

.left_black_nav ul li:hover {
    border-left: 2px solid #95e221;
    }

.left_black_nav ul li a:hover {
    color: rgb(255, 255, 255);
    }

.playlist_nav h5{
    color: rgb(255, 255, 255);
    padding-top: 5px;
    margin-left: 10px;
    font-size: 10px;
    }       

.bottom_left_sidebar {
    background: rgb(0, 0, 0);
    padding-left: 12px;
    padding-top: 160px;
    }

.arrow_download {
    padding: 10px;
    }

.arrow_download i {
    font-size: 10px;
    color: grey;
    }
    
.arrow_download a {
    font-size: 12px;
    color: #767575;
    text-decoration: none;
    }
    
.arrow_download a:hover {
    color: white;
    }

.doe_link {
    font-size: 13px;
    margin-top: 10px;
    padding-bottom: 10px;
    }

.doe_link img {
    background-color: grey;
    width: 18px;
    border-radius: 50%;
    margin: 5px;
    }
    
.doe_link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    }
    
.bottom_left_sidebar hr {
    border: .5px solid rgb(124, 124, 124);
    width: 90%
    }

    /* TOP BAR */
.container {
    position: relative;
    background-color: #141921;
    flex-grow: 1;
}

.top_bar {
    text-align: right;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 18px;
    height: 80px;
    }

.top_bar a {
    display: inline-block;
    border: 1px solid white;
    border-radius: 150px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 12px 25px;
    text-decoration: none;
    }

.container .nav_menu {
    position: absolute;
    width: 100%;
    padding: 15px 50px 10px;
    }

.top_link ul li {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 40px;
    border: 3px solid transparent;
    }

.top_link {
    text-align: center;
    padding-top: 18px;
    }   

.top_link ul li a {
    align-items: center;
    color: #767575;
    text-decoration: none;
    }

.top_link ul li a:hover {
    color: rgb(255, 255, 255);
    }

    /* album section */
.recently_played {
    color: rgb(255, 255, 255);
    }

.recently_played h6 {
    color: #747474;
    font-size: 10px;
    padding-top: 18px;
    }

.recently_list {
    display: flex;
    flex-wrap: wrap;
    }
    
.title_album {
    flex-basis: calc(100% / 6);
    text-align: center;
    margin-top: 8px;
    margin-bottom: 25px;
    color: rgb(255, 255, 255);
    padding: 8px 15px 12px 0;
    }
    
.title_album img {
    max-width: 100%;
    }
    
.title_album h5 {
    margin-bottom: 8px;
    margin-top: 13px;
    }
    
.title_album h6 {
    color: #747474;
    }

.img-hover {
    position: relative;
    }
    
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    }
    
.overlay i {
    display: none;
    font-size: 42px;
    color: rgb(255, 255, 255);
    }
    
.img-hover:hover .overlay {
    background: rgba(0, 0, 0, 0.5);
    }
    
.img-hover:hover .overlay i {
    display: block;
    }
    
.recently_played:nth-last-child(1) img,
.recently_played:nth-last-child(1) .img-hover .overlay {
    border-radius: 50%;
    }

    /* footer */
.bottom_player_nav {
    display: flex;
    justify-content: space-between;
    background: rgb(41, 41, 41);
    padding: 18px;
}

.track {
    display: flex;
    align-items: center;
  }
  
  .track img {
    width: 38px;
    margin-right: 12px;
  }
  
  .bottom_text {
    color: rgb(191, 174, 174);
    margin-right: 28px;
  }

  .bottom_text h5 {
      color: rgb(255, 255, 255);
      font-weight:bold;
  }

  .bottom_left_link a{
    color: rgb(150, 137, 137);
    margin-right: 10px;
    font-size: 14px;
  }  
  
  .action_player {
    width: 600px;
    text-align: center;
    color: white;
  }
  
  .btn_player li {
    display: inline-block;
    padding-bottom: 8px;
  }
  
  .btn_player a {
    color: white;
    font-size: 13px;
  }

  .btn_player .fa-play-circle{
  font-size: 19px;
}

.wrap_progress_bar {
    display: flex;
    align-items: center;
  }

  .wrap_progress_bar span {
      padding: 10px;
      font-size: 11px;
      font-weight: bold;
  }

.progress_bar {
    background-color: grey;
    height: 2px;
    width: 500px;
    margin: auto;
  }
  
  .progress_bar.sound_bar {
    width: 90px;
  }

  .bottom_right_link {
    display: flex;
    align-items: center;
  }

  .bottom_right_link i {
  color: rgb(255, 255, 255);
  margin-right: 18px;
  font-size: 13px;
}


/* Media Query DA DEFINIRE I LIMITI */
@media all and (max-width: 992px) {
    .hidden-sm  {
        display: none;
    }

    .bottom_left_sidebar {
        padding-left: 30px;
        margin-top: 80px;
    }
}

@media all and (max-width: 500px) {
    .spotify_logo img {
        padding-left: 18px;
        width: 78px;
    }

    .hidden-sm  {
        display: block;
    }

    .visible-sm {
        display: none;
    }

    .link_nav span {
        display: none;
    }

    .playlist_nav {
        display: none;
    }   
}

@media all and (min-width:992px) {
    .visible-sm {
      display: block;
    } 
   
    .hidden-sm {
      display: none;
    }

    .link_nav span {
        display: inline-block;
    }

    .playlist_nav {
        display: block;
    }
}